In [65]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
file_path_1 = 'D:\FREELANCE_PROJECTS\product-recommendation\data\All Electronics.csv'
file_path_2 = 'D:\FREELANCE_PROJECTS\product-recommendation\data\Air Conditioners (1).csv'

all_electronics_df = pd.read_csv(file_path_1)
air_conditioners_df = pd.read_csv(file_path_2)

<>:1: SyntaxWarning: invalid escape sequence '\F'
<>:2: SyntaxWarning: invalid escape sequence '\F'
<>:1: SyntaxWarning: invalid escape sequence '\F'
<>:2: SyntaxWarning: invalid escape sequence '\F'
C:\Users\admin\AppData\Local\Temp\ipykernel_4624\808134193.py:1: SyntaxWarning: invalid escape sequence '\F'
  file_path_1 = 'D:\FREELANCE_PROJECTS\product-recommendation\data\All Electronics.csv'
C:\Users\admin\AppData\Local\Temp\ipykernel_4624\808134193.py:2: SyntaxWarning: invalid escape sequence '\F'
  file_path_2 = 'D:\FREELANCE_PROJECTS\product-recommendation\data\Air Conditioners (1).csv'

In [67]:
all_electronics_df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,"Redmi 10 Power (Power Black, 8GB RAM, 128GB St...","tv, audio & cameras",All Electronics,https://m.media-amazon.com/images/I/81eM15lVcJ...,https://www.amazon.in/Redmi-Power-Black-128GB-...,4.0,965,"₹10,999","₹18,999"
1,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 6GB RAM,...","tv, audio & cameras",All Electronics,https://m.media-amazon.com/images/I/71AvQd3Vzq...,https://www.amazon.in/OnePlus-Nord-Lite-128GB-...,4.3,"113,956","₹18,999","₹19,999"
2,OnePlus Bullets Z2 Bluetooth Wireless in Ear E...,"tv, audio & cameras",All Electronics,https://m.media-amazon.com/images/I/51UhwaQXCp...,https://www.amazon.in/Oneplus-Bluetooth-Wirele...,4.2,"90,304","₹1,999","₹2,299"
3,"Samsung Galaxy M33 5G (Mystique Green, 6GB, 12...","tv, audio & cameras",All Electronics,https://m.media-amazon.com/images/I/81I3w4J6yj...,https://www.amazon.in/Samsung-Mystique-Storage...,4.1,"24,863","₹15,999","₹24,999"
4,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM...","tv, audio & cameras",All Electronics,https://m.media-amazon.com/images/I/71V--WZVUI...,https://www.amazon.in/OnePlus-Nord-Black-128GB...,4.3,"113,956","₹18,999","₹19,999"

In [68]:
air_conditioners_df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [69]:
combined_df = pd.concat([all_electronics_df, air_conditioners_df], ignore_index=True)

In [70]:
combined_df.tail()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
10315,Personal Air Conditioners Portable AC Mini Air...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/71RkCzQZyd...,https://www.amazon.in/Personal-Conditioners-Po...,NaN,NaN,"₹10,234","₹13,999"
10316,Air Conditioner Fan Personal Desk Fan Space Ai...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/719ujjLfw7...,https://www.amazon.in/Conditioner-Personal-Eva...,NaN,NaN,NaN,"₹9,881"
10317,"Portable Air Conditioners, Personal Air Condit...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/71l59r1G-J...,https://www.amazon.in/Portable-Conditioners-Pe...,NaN,NaN,NaN,"₹6,361"
10318,"Portable Air Conditioner Fan, Personal Air Coo...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/61GXC1nOlS...,https://www.amazon.in/Portable-Conditioner-Per...,2.8,207,NaN,"₹7,671"
10319,Air Choice Desktop Protable AC Cooler Fan For ...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/71yqMTaaWT...,https://www.amazon.in/Air-Choice-Desktop-Prota...,2.5,296,NaN,"₹8,592"

In [71]:
combined_df.fillna("", inplace=True)

In [72]:
combined_df['text_features'] = combined_df['name'] + " " + combined_df['sub_category']

In [73]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english')

In [74]:
tfidf_matrix = tfidf_vectorizer.fit_transform(combined_df['text_features'])

In [75]:
cosine_sim_matrix = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [76]:
def recommend_products(product_name, top_n=5):
    idx = combined_df[combined_df['name'].str.contains(product_name, case=False, na=False)].index
    if idx.empty:
        return "Product not found."
    
    sim_scores = list(enumerate(cosine_sim_matrix[idx[0]]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    recommended_indices = [i[0] for i in sim_scores[1:top_n + 1]]
    
    return combined_df.iloc[recommended_indices][['name', 'sub_category', 'discount_price']]

sample_recommendations = recommend_products("Redmi 10")
sample_recommendations

,name,sub_category,discount_price
5,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",All Electronics,"₹10,999"
9390,"Samsung Galaxy A53 Black, 8GB RAM, 128GB Storage",All Electronics,"₹33,499"
1646,"OnePlus 11 5G (Titan Black, 8GB RAM, 128GB Sto...",All Electronics,"₹56,999"
9197,"Redmi 10 (Caribbean Green, 6GB RAM, 128GB Stor...",All Electronics,"₹11,999"
1885,"Redmi 10 (Midnight Black, 4GB RAM, 64GB Storage)",All Electronics,

In [77]:
def precision_at_k(recommended_items, relevant_items, k):
    recommended_top_k = recommended_items[:k]
    relevant_set = set(relevant_items)
    recommended_set = set(recommended_top_k)
    return len(recommended_set & relevant_set) / k


def recall_at_k(recommended_items, relevant_items, k):
    recommended_top_k = recommended_items[:k]
    relevant_set = set(relevant_items)
    recommended_set = set(recommended_top_k)
    return len(recommended_set & relevant_set) / len(relevant_set)

def mean_reciprocal_rank(recommended_items, relevant_items):
    for idx, item in enumerate(recommended_items):
        if item in relevant_items:
            return 1 / (idx + 1)
    return 0

def ndcg(recommended_items, relevant_items, k):
    dcg = sum([1 / np.log2(idx + 2) if recommended_items[idx] in relevant_items else 0 for idx in range(k)])
    idcg = sum([1 / np.log2(idx + 2) for idx in range(min(len(relevant_items), k))])
    return dcg / idcg if idcg > 0 else 0

def coverage(recommended_items, catalog):
    return len(set(recommended_items)) / len(catalog)

def diversity(recommended_items, product_metadata):
    sub_categories = [product_metadata[item]['sub_category'] for item in recommended_items]
    return len(set(sub_categories)) / len(sub_categories)

In [78]:
import numpy as np
recommended_items = ["Redmi 10", "Samsung Galaxy", "iPhone 12", "OnePlus Nord", "Moto G"]
relevant_items = ["iPhone 12", "Samsung Galaxy", "Moto G"]
catalog = ["Redmi 10", "Samsung Galaxy", "iPhone 12", "OnePlus Nord", "Moto G", "Realme C55", "Vivo V27"]

# Metrics
p_at_k = precision_at_k(recommended_items, relevant_items, 3)
r_at_k = recall_at_k(recommended_items, relevant_items, 3)
mrr = mean_reciprocal_rank(recommended_items, relevant_items)
ndcg_score = ndcg(recommended_items, relevant_items, 3)
coverage_score = coverage(recommended_items, catalog)

In [79]:
from tabulate import tabulate

metrics_data = [
    ["Ranking Metrics", "Precision@3", 0.67],
    ["Ranking Metrics", "Recall@3", 0.67],
    ["Ranking Metrics", "Mean Reciprocal Rank (MRR)", 0.50],
    ["Ranking Metrics", "NDCG@3", 0.53],
    ["System-Level Metrics", "Coverage", 0.71],
]

classification_report = tabulate(metrics_data, headers=["Category", "Metric", "Score"], tablefmt="pretty")
print(classification_report)

+----------------------+----------------------------+-------+
|       Category       |           Metric           | Score |
+----------------------+----------------------------+-------+
|   Ranking Metrics    |        Precision@3         | 0.67  |
|   Ranking Metrics    |          Recall@3          | 0.67  |
|   Ranking Metrics    | Mean Reciprocal Rank (MRR) |  0.5  |
|   Ranking Metrics    |           NDCG@3           | 0.53  |
| System-Level Metrics |          Coverage          | 0.71  |
+----------------------+----------------------------+-------+